streamlit
requests
langchain
langchain-core
langchain-text-splitters
langchain-pinecone
langchain-groq
langchain-mongodb
langchain-community
pinecone
python-dotenv
plotly
pymongo
joblib
nest_asyncio
sentence-transformers
groq
